body {
    width: 80%;
    margin: auto;
}

h1 {
    width: 90%;
    margin: 16px auto 16px auto;
    display: flex;
    justify-content: center;
}

#btn {
    width: 90%;
    margin: 16px auto 16px auto;
    display: flex;
    justify-content: center;
}

button {
    margin: 16px;
}